{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login_form">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p class="error">Wrong username or password.</p>
        {% endif %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}

        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}

        </div>
        <button type="submit" id="id_submit">Login</button><br>
        Not a User? Register <a href="{% url 'signup' %}" id="id_sign_up">Here.</a>
    </form>
</div>
{% endblock %}