{% extends 'base.html' %}
{% block title %}My profile{% endblock %}

{% block content %}
<h2>{{ user.first_name }} {{ user.last_name }}</h2>
{% if user.is_student %}
{% if user.student.student_image %}
<img src="../../{{ user.student.student_image }}" width="200" height="200"/>
{% else %}
<img src="../../static/blank_profile_picture.png" width="200" height="200"/>
{% endif %}
<h3>date of birth: {{ user.student.date_of_birth }}</h3>
<h3>class: {{ user.student.school_class }}</h3>
<a href="{%url 'edit_profile'%}">Edit profile</a>
{% endif %}

{% endblock %}