{% extends 'base.html' %}
{% block title %}My schedule{% endblock %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Subject</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>

  <tbody>
    {% for day in days_of_week %}
      {% for entry in schedule %}
      {% if entry.day_of_week == day %}
    <tr>
      <th scope="row">{{ day }}</th>
      <td>{{ entry.subject.name }}</td>
      <td>{{ entry.start_time }}</td>
      <td>{{ entry.end_time }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
