{% extends 'base.html' %}
{% block title %}Exam detail{% endblock %}

{% block content %}

<h3>{{subject.name}}</h3>
<h4>teacher: {{subject.teacher}}</h4>
<h4>students:</h4>
<ul>
{% for student in subject.student.all %}
    <li>{{ student }}
        {% if request.user.is_teacher %}
            <a href="{% url 'add_exam' subject.id student.user_id %}">Add Exam</a>
        {% endif %}
    </li>
{% empty %}
    <li>No students assigned</li>
{% endfor %}
</ul>
<h4>classroom: {{subject.classroom}}</h4>
{% endblock %}